@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 126px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.seperation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border-color: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq :hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .question{
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px){
    .first{
        flex-wrap: wrap;
    }

    .secImg img {
    width: 305px;
}

.secImg video {
    width: 305px;
}

.hero> :nth-child(1) {
    font-size: 32px;
}

.hero> :nth-child(2) {
    font-size: 18px;
}

.hero> :nth-child(3) {
    font-size: 18px;
}

nav{
    max-width: 90vw;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
}

footer{
    max-width: 90vw;
}

.footer-item{
    align-items: center;
}

}

@media screen and (max-width: 1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

.footer a{
    font-size: 14px;
    color: white;
}

.footer-item {
    row-gap: 25px;
    display: flex;
    flex-direction: column;
}