.container{
    background-color: blue;
    width: 80vw;
    height: 80vh;
    position: relative;
}

.circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: AnimateX 3s linear infinite, AnimateY 1s ease-out infinite alternate ;
}

@keyframes AnimateX {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes AnimateY {
    from{
        bottom: 0%;
    }
    to{
        bottom: 80%;
    }
}