.container{
    background-color: antiquewhite;
    height: 40vh;
    width: 50vw;
}

.box{
    background-color: aqua;
    height: 4vh;
    width: 5vw;
    /* transition-property: background-color, transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    transition: all 3s cubic-bezier(0.81, 0.49, 0, 0.97) 1s;
}

.translate{
    transform: translateX(10vw) translateY(10vh) scale(2);
    background-color: blue;
}