.box{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transform: rotate(45deg); */
    transform: translateY(100%) skewX(40deg) translateX(45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    width: 80vw;
    border: 2px solid gray;
}