*{
    background-color: pink;
}

button{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
}

.box{
    height: 59px;
    width: 68px;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 5px;
    padding: 10px;
}