.container{
    height: 700px;
    width: 700px;
    margin-top: 50px;
    margin-left: 230px;
}

.image{
    height: 30px;
}

img{
    height: 30px;
    padding-right: 120px;
}

li{

    list-style: none;
    display: inline;
    margin: 8px;
    padding-right: 0px;
}

p{
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
}

.text{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

button{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(21, 180, 224);
    font-weight: 600;
    font-size: 12px;
    color: white;
    border-style: none;
    margin-top: 15px;
    margin-left: 230px;
}