.container{
    height: 426px;
    width: 488px;
    border: 2px solid black;
    background-image: url(https://media.istockphoto.com/id/471926619/photo/moraine-lake-at-sunrise-banff-national-park-canada.jpg?s=612x612&w=0&k=20&c=mujiCtVk5QA697SD3d8V8BGmd91-8HlxCNHkolEA0Bo=);
    background-position: center center;
}

img{
    height: 426px;
    width: 488px;
    /* object-position: top left; */
    object-fit: contain;
}

p{
    padding-top: 320px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}